// vendors
$vendors: "-moz-", "-webkit-", "-o-", "-ms-", "";

// colors definitaions
$primaryHex: #114685;
$primaryRGB: rgb(17, 70, 133);
$primaryDarkHex: #00274b;
$primaryDarkRGB: rgb(0, 39, 75);
$primaryLightGrayRGB: rgb(97, 98, 99);
$gradientStartColor: #019cfc;
$gradientEndColor: #004692;
$secondaryHex: #fbbe17;
$white: #fff;
$black: #000;

// font family
$robotoFont: "Roboto", sans-serif;
$openSansFont: "Open Sans", sans-serif;
